<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
		<property name="hibernate.connection.autocommit">true</property>
		<property name="hibernate.is-connection-validation-required">true</property>
		<property name="hibernate.connection.release_mode">auto</property>
		<property name="hibernate.transaction.auto_close_session">true</property>
		<property name="hibernate.hikari.dataSource.cachePrepStmts">true</property>
		<property
			name="hibernate.hikari.dataSource.prepStmtCacheSize">250</property>
		<property
			name="hibernate.hikari.dataSource.prepStmtCacheSqlLimit">2048</property>
		<property
			name="hibernate.hikari.dataSource.useServerPrepStmts">true</property>
		<!--<property name="hibernate.hikari.dataSource.url">jdbc:mysql://127.0.0.1:3306/testbackend?useUnicode=true&amp;characterEncoding=UTF-8</property> 
			<property name="hibernate.hikari.dataSource.user">root</property> <property 
			name="hibernate.hikari.dataSource.password"/> -->
		<!--<property name="hibernate.hikari.dataSourceClassName">com.mysql.jdbc.jdbc2.optional.MysqlDataSource</property> -->
		<!--<property name="hibernate.hikari.dataSource.url">jdbc:mysql://159.65.140.140:3306/tts?zeroDateTimeBehavior=convertToNull&amp;serverTimezone=GMT&amp;useUnicode=true&amp;characterEncoding=UTF-8</property> -->
		<property name="hibernate.hikari.dataSourceClassName">com.mysql.cj.jdbc.MysqlDataSource</property>
		<property name="hibernate.hikari.dataSource.url">jdbc:mysql://159.65.140.140:3306/tts?zeroDateTimeBehavior=convertToNull&amp;serverTimezone=Asia/Ho_Chi_Minh</property> 
		<property name="hibernate.hikari.dataSource.user">tts-user</property>
		<property name="hibernate.hikari.dataSource.password">tvFXyV8R5875db4W@</property>
		<!--mapping dabase -->
		<mapping resource="com/app/pojo/Wallets.hbm.xml" />
		<mapping resource="com/app/pojo/Addresses.hbm.xml" />
		<mapping resource="com/app/pojo/Users.hbm.xml" />
		<mapping resource="com/app/pojo/UserToken.hbm.xml" />
		<mapping resource="com/app/pojo/Shipments.hbm.xml" />
		<mapping resource="com/app/pojo/Parcels.hbm.xml" />
		<mapping resource="com/app/pojo/Transfer.hbm.xml" />
		<mapping resource="com/app/pojo/Base.hbm.xml" />
		<mapping resource="com/app/pojo/Content.hbm.xml" />
		<mapping resource="com/app/pojo/ShippingCarriers.hbm.xml" />
	</session-factory>
</hibernate-configuration>
